dist-bundled-browser
# Dependencies
node_modules

# Build outputs
dist
dist-playwright-browsers
renderer
release

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Editor / IDE
.vscode

# OS
Thumbs.db
.DS_Store
